:root {
    /* mobile */
    --color-1 : #cdb4db ;
     /* tablet */
    --color-2 : #fff1e6 ;
     /* laptop */
    --color-3 : #52b788 ;
     /* desktop */ 
    --color-4 : #bee1e6 ; 
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-size: 35px;
    font-family: sans-serif;
}

.container{
    height: 100vh;
}

#size{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    color: red;
}


.container{
    display: grid;
    place-items: center;
}

/* Heirarchy should be in desc order, sbse badi screen sbse pehle */

@media screen and (min-width:1025px) {
    .container{
        background-color : var(--color-4)
    }
}

@media (min-width:768px) and (max-width: 1024px) {
    .container{
        background-color : var(--color-3)
    }
}


@media (min-width:425px) and (max-width:768px){
    .container{
        background-color: var(--color-2);
    }
    .text{
        font-size: 30px;
    }
    #size{
        font-size: 30px;
    }
}

@media screen and (max-width:426px) {
    .container{
        background-color: var(--color-1);
    }
    .text{
        font-size: 20px;
    }
    #size{
        font-size: 20px;
    }
}

